<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' type='text/css' href='resources/css/bootstrap-no-print.css'>
    <link rel='stylesheet' type='text/css' href='resources/css/font.css'>
    <link rel='stylesheet' type='text/css' href='resources/css/template-style.css'>
    <link rel='stylesheet' type='text/css' href='resources/css/index-chart.css'>
    <link rel='stylesheet' type='text/css' href='resources/css/utility.css'>

    <script type="text/javascript" src='bower_components/angular/angular.min.js'></script>
    <script type="text/javascript" src='bower_components/angular-sanitize/angular-sanitize.min.js'></script>
    <script type="text/javascript" src='bower_components/lodash/dist/lodash.min.js'></script>
    <script type="text/javascript" src='bower_components/jquery/dist/jquery.min.js'></script>

    <script type="text/javascript" src="app/app.template.js"></script>
    <script type="text/javascript" src="app/directives.template.js"></script>
    <script type="text/javascript" src="app/services.template.js"></script>
    <script type="text/javascript" src="app/controllers.template.js"></script>

</head>

<body ng-app="template" ng-controller="MainController as ctrl" media="print">
<div class="report-container">

    <!--PAGE 1-->
    <div class="page-container page-break-after">
        <ng-include src="'views_en/header-1.html'"></ng-include>
        <div class="report-body">
            <h1 class="blue-title">Omega-3 INDEX REPORT</h1>
            <div class="row top15">
                <ng-include src="'views_en/profile-table.html'" class="col-xs-7"></ng-include>
                <div class="col-xs-3 nopadding">
                    <div class="index-label">Your Index</div>
                    <div>
                        Reference Range*: {{report.omega3_index_ref_range}}
                    </div>
                </div>
                <div class="col-xs-2 nopadding">
                    <div class="index-circle">{{report.omega3_index}}</div>
                </div>
            </div>

            <div class="row top15">
                <ng-include src="'views_en/omega-3-chart.html'"></ng-include>
                <div class="suggestion-text top30">
                    INFORMATION ABOUT THE OMEGA-6:OMEGA-3 AND THE AA:EPA RATIOS
                </div>
            </div>
            <div class="row plain-text top30">
                <p>An Omega-3 Index in the range of 8-12% is one indicator of better overall health. As a part of an
                    overall healthy lifestyle, an Omega-3
                    Index in the 8-12% range may help to maintain heart, brain, eye and joint health. The best way to
                    increase your Omega-3 Index is to
                    eat more omega-3 fatty acids, specifically EPA and DHA. These are found primarily in fish,
                    especially
                    "oily" fish such as those near the
                    top in the accompanying table. They can also be obtained from dietary supplements (fish, krill, cod
                    liver and algal oils).</p>
                <p>The 2015-2020 Dietary Guidelines for Americans states, “For the general population, consumption of
                    about8 ounces per week of a
                    variety of seafood, which provide an average consumption of 250*mg per day of EPA and DHA, is
                    associated with reduced cardiac
                    deaths among individuals with and without pre-existing cardiovascular disease.”</p>
                <p>The advice from the American Academy of Nutrition and Dietetics is, “Based on recent literature,
                    increasing consumption of
                    polyunsaturated fatty acids with a particular focus on increasing omega-3 intake (i.e., striving to
                    consume two or more servings of
                    fatty fish per week to provide at least 500*mg EPA and DHA per day…) is desirable.”</p>
                <p>The FDA has determined that the consumption of up to 3000 mg/day of EPA and DHA is generally
                    recognized
                    as safe.</p>
                <p>The amount of EPA+DHA you would need to eat in order to raise your Omega-3 Index into the desirable
                    range cannot be predicted
                    with certainty. Many factors –your age, sex, weight, diet, genetics, smoking habits, medications you
                    may be taking, and other
                    medical conditions –can all influence your body’s response to EPA+DHA. However, research
                    has shown that on average for most
                    Americans, weekly consumption of 3 servings of non-fried fish plus taking a supplement should raise
                    the Omega-3 Index into the
                    desirable range.</p>
                <p>It should be noted that, because they have a different chemical structure than EPA and DHA, the
                    omega-3 fatty acid found in flax or
                    chia seeds (alpha-linolenic acid, ALA) are distinct from EPA and DHA.Wedo not recommend any increase
                    to
                    ALA intake for the
                    purpose of increasing Omega-3 Index.</p>
                <p>After you increase your intake of EPA+DHA, your Omega-3 Index will begin to slowly goup within afew
                    days, but will continue to
                    change for3-4 months. To know howyour ownbody responds to an increased intake of EPA+DHA,we
                    recommend that you remeasure
                    your Omega-3 Index in 3-4 months. Once you reach the healthy range forOmega-3 Index,we recommend
                    that you re-test
                    every 6 months to make sure it is staying there.</p>
            </div>
        </div>
        <ng-include ng-repeat="page in [{'page': 1, 'sum': 7}]" src="'views_en/footer-1.html'"></ng-include>
    </div>

    <!--PAGE 2-->
    <div class="page-container page-break-after">
        <ng-include src="'views_en/header-1.html'"></ng-include>
        <div class="report-body">
            <h1 class="blue-title">Omega6：Omega3</h1>
            <div class="row top15">
                <ng-include src="'views_en/profile-table.html'" class="col-xs-7"></ng-include>
                <div class="col-xs-3 nopadding">
                    <div class="index-label">Your Index</div>
                    <div>
                        Reference Range*: {{report.n6_n3_ref_range}}
                    </div>
                </div>
                <div class="col-xs-2 nopadding">
                    <div class="index-circle">{{report.n6_n3}}</div>
                </div>
            </div>

            <div class="row top15">
                <ng-include src="'views_en/omega-3-chart.html'"></ng-include>
                <div class="suggestion-text top30">
                    INFORMATION ABOUT THE OMEGA-6:OMEGA-3 AND THE AA:EPA RATIOS
                </div>
            </div>
            <div class="row plain-text top30">
                <p>Omega-6:Omega-3 ratio is calculated by dividing the sum of seven omega-6 fatty acids by the sum of
                    four omega-3 fatty acids. The
                    only two fatty acids included in the AA:EPA ratio are arachidonic acid (AA, 20:4n-6) and
                    eicosapentaenoic acid (EPA, 20:5n-3).</p>
                <p>The desirable range for the omega-6:omega-3 ratio is 3:1 to 5:1, and the desirable range for the
                    AA:EPA ratio is 2.5:1–11:1.</p>
                <p>These ranges were derived from thousands of individuals whose RBC samples were analyzed for the
                    Omega-3
                    Index and for these
                    two ratios. Because the Omega-3 Index is so strongly related to each of these ratios, the desirable
                    ranges for these two ratios were
                    calculated to correspond to the desirable range for the Omega-3 Index.</p>
                <p>As described in the Omega-3 Index report, the best way to lower both the Omega-6:Omega-3 and the
                    AA:EPA
                    ratios is to consume
                    more omega-3 fatty acids. As described belowin the Omega-6 fatty acids section of this report, the
                    latest scientific literature
                    supports higher, not lower, intakes/levels of the principal omega-6 fatty acid, linoleic acid.
                    Therefore,we do not recommend
                    lowering your intake of linoleic acid as a strategy to lower these ratios. Raising your intake of
                    EPA+DHA from seafoods and/or omega-3
                    supplements will, however, decrease both of these ratios (and raise your Omega-3 Index).</p>
                <p>As described in the Omega-3 Index report, it will take 3-4 months for these ratios to reach their new
                    levels.</p>
            </div>
        </div>
        <ng-include ng-repeat="page in [{'page': 2, 'sum': 7}]" src="'views_en/footer-1.html'"></ng-include>
    </div>

    <!--PAGE 3-->
    <div class="page-container page-break-after">
        <ng-include src="'views_en/header-1.html'"></ng-include>
        <div class="report-body">
            <h1 class="blue-title">TRANS FAT INDEX REPORT</h1>
            <div class="row top15">
                <ng-include src="'views_en/profile-table.html'" class="col-xs-7"></ng-include>
                <div class="col-xs-3 nopadding">
                    <div class="index-label">Your Index</div>
                    <div>
                        Reference Range*: {{report.trans_fat_index_ref_range}}
                    </div>
                </div>
                <div class="col-xs-2 nopadding">
                    <div class="index-circle">{{report.trans_fat_index}}</div>
                </div>
            </div>

            <div class="row top15">
                <ng-include src="'views_en/trans-fat-chart.html'"></ng-include>
            </div>

            <div class="row plain-text top30">
                <p>Trans fatty acids (commonly called trans fats) in our blood come only from the food we eat. Our body
                    cannot make trans fats, like it
                    can saturated and mono-unsaturated fats. The vast majority (80-90%) of trans fats we eat in America
                    are industrially-produced
                    trans fats*. These are produced by the "partial hydrogenation" of liquid vegetable oils, which is a
                    chemical process that converts
                    liquid oils into solid margarines and shortenings. Consumption of industrially-produced trans fats
                    has been linked to poorer heart
                    health and increased levels of "bad" cholesterol and decreased levels of "good" cholesterol. The
                    Dietary Guidelines for Americans
                    state that “trans fats can raise the risk of developing cardiovascular disease.” Accordingly, the
                    Guidelines recommend “keeping the
                    intake of trans fat as low as possible by limiting foods containing partially hydrogenated oils.”
                    The US Food and Drug Administration (
                    FDA) has taken several steps to remove as much industrial trans fats from the American diet as
                    possible.</p>
                <p>Unfortunately, it is virtually impossible to know for certain how much trans fat is in your diet.
                    This
                    is because varying amounts of
                    trans fats are included in thousands of food products, and the amounts in any given food product can
                    change over time depending
                    on the prices of the fats used to produce the foodand the success of food companies in finding other
                    fats to replace trans fats. In
                    general, the foods that provide the most trans fats in the American diet include cakes, cookies,
                    pies, pastries, French fries, tortilla
                    chips, crackers, popcorn, and stick margarines, as seen on the accompanying Trans Fat Table.</p>
                <p>The Trans Fat Index is simply the amount of industrially-produced trans fats that are in your red
                    blood
                    cell membranes. Blood levels
                    of trans fats reflect levels in the diet–the more you eat, the higher they are in the blood.
                    Historically, Americans ate too much trans
                    fat, but over the last several years the food industry has steadily removed trans fats from many
                    products. In fact, since 2009, the
                    average Trans Fat Index measured at Omega Quant has decreased by half (from1.7% to 0.8%). In other
                    words, in 2017 more than
                    half of the samples submitted to Omega Quant have a Trans Fat Index of <1%.</p>
                <p>Individuals who have been eating typical American diets for decades have relatively high levels of
                    trans
                    fatty acids stored in their fat
                    tissue. The more they’ve eaten (and the morefat tissue they have), the larger the body’s total
                    burden
                    of trans fats.When a person
                    cuts down on trans fat intake, these fatty acids start to slowly “leak” out of the fat tissue and
                    eventually get burned up, but the
                    process is slow. Unfortunately, research on the question of “Hows low?” has never been done, so
                    nobody really knows.
                    Consequently, the only way to track the loss of trans fats from your body is to periodically test
                    your
                    Trans Fat Index every 6 to 12
                    months.</p>
            </div>
        </div>
        <ng-include ng-repeat="page in [{'page': 3, 'sum': 7}]" src="'views_en/footer-1.html'"></ng-include>
    </div>

    <!--PAGE 4-->
    <div class="page-container page-break-after" ng-if="report.is_professional">
        <ng-include src="'views_en/header-1.html'"></ng-include>
        <div class="report-body">
            <div class="row top15">
                <div class="blue-title col-xs-5 left-align">FULL FATTY ACID<br>PROFILE REPORT</div>
                <ng-include src="'views_en/profile-table.html'" class="col-xs-7"></ng-include>
            </div>
            <div class="top30">
                <p class="center-align">Dried Blood Spot Fatty Acid Profile</p>
                <table class="o-table page-3">
                    <thead>
                    <tr class="border-both">
                        <th style="width:40%;">Fatty Acid Group</th>
                        <th style="width:20%;">Total</th>
                        <th style="width:20%;">Percentile Rank</th>
                        <th style="width:20%;">Reference Range*</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--SECTION-1-->
                    <tr class="border-bottom title">
                        <td>Omega-3 Fatty Acids</td>
                        <td>{{report.total_omega3}}</td>
                        <td>{{report.total_omega3_rank}}</td>
                        <td>{{report.total_omega3_ref_range}}</td>
                    </tr>
                    <tr>
                        <td>Omega 3 Index</td>
                        <td>{{report.omega3_index}}</td>
                        <td>{{report.omega3_index_rank}}</td>
                        <td>{{report.omega3_index_ref_range}}</td>
                    </tr>
                    <tr>
                        <td>Alpha-Linolenic (18:3n3)</td>
                        <td>{{report.c18_3n3}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Eicosapentaenoic (EPA, 20:5n3)</td>
                        <td>{{report.c20_5n3}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Docosapentaenoic-n3 (22:5n3)</td>
                        <td>{{report.c22_5n3}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Docosahexaenoic (DHA, 22:6n3)</td>
                        <td>{{report.c22_6n3}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!--SECTION-2-->
                    <tr class="border-both title">
                        <td>Omega-6 Fatty Acids</td>
                        <td>{{report.total_omega6}}</td>
                        <td>{{report.total_omega6_rank}}</td>
                        <td>{{report.total_omega6_ref_range}}</td>
                    </tr>
                    <tr>
                        <td>Linoleic (18:2n6)</td>
                        <td>{{report.c18_2n6}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Gamma-Linolenic (18:3n6)</td>
                        <td>{{report.c18_3n6}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Eicosadienoic (20:2n6)</td>
                        <td>{{report.c20_2n6}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Dihomo-y-linolenic (20:3n6)</td>
                        <td>{{report.c20_3n6}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Arachidonic (AA, 20:4n6)</td>
                        <td>{{report.c20_4n6}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Docosatetraenoic (22:4n6)</td>
                        <td>{{report.c22_4n6}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Docosapentaenoic-n6 (22:5n6)</td>
                        <td>{{report.c22_5n6}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!--SECTION-3-->
                    <tr class="border-both title">
                        <td>cis-Monounsaturated Fatty Acids</td>
                        <td>{{report.total_monounsaturated}}</td>
                        <td>{{report.total_monounsaturated_rank}}</td>
                        <td>{{report.total_monounsaturated_ref_range}}</td>
                    </tr>
                    <tr>
                        <td>Palmitoleic (16:1n7)</td>
                        <td>{{report.c16_1n7}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Oleic (18:1n9)</td>
                        <td>{{report.c18_1n9}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Eicosenoic (20:1n9)</td>
                        <td>{{report.c20_1n9}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nervonic (24:1n9)</td>
                        <td>{{report.c24_1n9}}</td>
                        <td></td>
                        <td></td>
                    </tr>

                    <!--SECTION-4-->
                    <tr class="border-both title">
                        <td>Saturated Fatty Acids</td>
                        <td>{{report.total_saturated}}</td>
                        <td>{{report.total_saturated_rank}}</td>
                        <td>{{report.total_saturated_ref_range}}</td>
                    </tr>
                    <tr>
                        <td>Myristic (14:0)</td>
                        <td>{{report.c14_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Palmitic (16:0)</td>
                        <td>{{report.c16_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Stearic (18:0)</td>
                        <td>{{report.c18_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Arachidic (20:0)</td>
                        <td>{{report.c20_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Behenic (22:0)</td>
                        <td>{{report.c22_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Lignoceric (24:0)</td>
                        <td>{{report.c24_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>

                    <!--SECTION-5-->
                    <tr class="border-both title">
                        <td>Trans Fatty Acids</td>
                        <td>{{report.total_trans}}</td>
                        <td>{{report.total_trans_rank}}</td>
                        <td>{{report.total_trans_ref_range}}</td>
                    </tr>
                    <tr>
                        <td>Trans Palmitoleic (16:1n7t)</td>
                        <td>{{report.c16_1n7t}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Trans Oleic (18:1t)</td>
                        <td>{{report.c18_1t}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Trans Linoleic (18:2n6t)</td>
                        <td>{{report.c18_2n6t}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Trans Fat Index</td>
                        <td>{{report.trans_fat_index}}</td>
                        <td>{{report.trans_fat_index_rank}}</td>
                        <td>{{report.trans_fat_index_ref_range}}</td>
                    </tr>

                    <!--SECTION-6-->
                    <tr class="border-both title">
                        <td>Ratios</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>AA:EPA</td>
                        <td>{{report.aa_epa}}</td>
                        <td>{{report.aa_epa_rank}}</td>
                        <td>{{report.aa_epa_ref_range}}</td>
                    </tr>
                    <tr>
                        <td>Omega-6:Omega-3</td>
                        <td>{{report.n6_n3}}</td>
                        <td>{{report.n6_n3_rank}}</td>
                        <td>{{report.n6_n3_ref_range}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ng-include ng-repeat="page in [{'page': 4, 'sum': 7}]" src="'views_en/footer-1.html'"></ng-include>
    </div>

    <!--PAGE 5-->
    <div class="page-container page-break-after" ng-if="report.is_professional">
        <ng-include src="'views_en/header-1.html'"></ng-include>
        <div class="report-body">
            <div class="row top15">
                <div class="blue-title col-xs-5 left-align">FULL FATTY ACID<br>PROFILE REPORT</div>
                <ng-include src="'views_en/profile-table.html'" class="col-xs-7"></ng-include>
            </div>
            <div class="top15">
                <p class="bolder-text">Omega-3 Fatty Acids</p>
                <p>
                    The four omega-3 fatty acids reported here include the “plant” omega-3 (alpha-linolenic acid, ALA)
                    and the three “fish”omega-3s(EPA,
                    DHA and DPA n-3). ALAis one of the two essential fatty acids in the diet, meaning, like a vitamin,we
                    cannot make it and have to get it
                    from our diet. According to the Dietary Guidelines for Americans, an adequate intake of ALAis
                    about 1.5 grams per day, which is about
                    the average intake in the US today. ALA comes primarily from soy bean oil (which is a component of
                    many
                    processed foods), but certain
                    specialty foods/oils are particularly rich sources (chia seed oil, flax seed oil, black walnuts).
                    With respect to the “fish”omega-3’s, they are
                    not technically essential fatty acids, but they may help to maintain heart, brain, eye and joint
                    health. Recommendations forEPA+DHA
                    intakes are given in the Omega-3 Index report. Although a desirable range for the Omega-3 Index
                    has been set at 8%-12%, at present,
                    there is not enough research to recommend a target blood levels for ALA (or DPA n3).
                </p>
            </div>
            <div class="top15">
                <p class="bolder-text">Omega-6 Fatty Acids</p>
                <p>
                    We measure levels of seven fatty acids in the omega-6 family, but on average 85% of the total
                    amount comes from only two–linoleic
                    and arachidonic acids. The former is (like ALA) an essential fatty acid and is the starting
                    material for the synthesis of the other omega-6s,
                    including arachidonic acid. The level of linoleic acid in your blood is generally influenced by the
                    amount you eat over many months,
                    whereas the level of arachidonic acid (and the other five omega-6 fatty acids) are primarily
                    determined by your body’s metabolism. In
                    other words, there is little you can do from a dietary perspective to alter the levels of six of the
                    seven omega-6 fatty acids. Making
                    significant changes in linoleic acid blood levels via diet takes months to years. The Dietary
                    Guidelines for Americans defines an adequate
                    intake of linoleic acid as 11-14 grams per day for women and 14-16 grams per day for men. There has
                    been
                    considerable controversy
                    regarding whether omega-6 fatty acids, linoleic acid in particular, are “good”or “bad” for our
                    health. Some researchers link higher
                    inflammation in the body, which is a part of many chronic disease processes, to higher intake of
                    omega-6 fatty acids because
                    arachidonic acid is the starting material for the production of some “pro-inflammatory” molecules.
                    Others (including Dr. Harris and
                    most nutrition science organizations around the world) disagree, noting that in most studies,
                    higher amounts of linoleic acid in the diet
                    or in the blood are associated with better overall heart and metabolic health. In fact, linoleic
                    acid
                    levels between about 25% and 28% are
                    associated with better health than lower levels. Despite this evidence, there continues to be a
                    controversy in this area. Nevertheless,
                    OmegaQuant agrees with the recommendation of the American Heart Association that between 5% and 10%
                    of calories be consumed
                    as linoleic acid (current US intakes average about 6% of calories). Clearly, further research is
                    needed in this area.
                </p>
            </div>
            <div class="top15">
                <p class="bolder-text">cis-Monounsaturated Fatty Acids</p>
                <p>
                    There are four fatty acids in this class in the OmegaQuant Complete Report, but95% of “monos” are
                    from one fatty acid, oleic acid.
                    Oleic acid is in many vegetable oils, especially olive oil, so it is a part of virtually everyone’s
                    diet and also is made by our body (not an
                    essential fatty acid). Although found in relatively high amounts in the blood of people on a
                    Mediterranean Diet (due to the large intake
                    of olive oil), the relationship between blood oleic acid levels and heal this somewhat
                    controversial.We cannot provide a strong,
                    research-based recommendation for a desirable blood oleic acid range or corresponding dietary advice
                    to change levels. Because oleic
                    acid levels come from both what you eat and what your body makes, it’s very hard to change blood
                    levels. At present, oleic acid levels
                    are provided in the report for the sake of completeness, not to guide recommendations for dietary
                    changes.
                </p>
                <p>
                    The other fatty acid in this family that merits comment is palmitoleic acid. It is normally present
                    at around 1% of total fatty acids in your
                    blood, but it is being recognized as a marker of excess carbohydrates in the diet. Foods rich in
                    simple carbohydrates are sugar, flour,
                    high-fructose corn syrup, etc. Too much of these kinds of carbohydrates causes the body to actually
                    make fatty acids, which is why
                    palmitoleic acid levels go up in this setting. Again, the research in this field is immature and
                    does
                    not allow for firm target values to be set,
                    but levels below about 0.6% are probably better than higher levels. (Note: if you are taking a
                    palmitoleic acid supplement, the
                    relationship between carbohydrate intake and blood levels of this fatty acid become complex and hard
                    to
                    interpret.)
                </p>

            </div>
        </div>
        <ng-include ng-repeat="page in [{'page': 5, 'sum': 7}]" src="'views_en/footer-1.html'"></ng-include>
    </div>

    <!--PAGE 6-->
    <div class="page-container page-break-after" ng-if="report.is_professional">
        <ng-include src="'views_en/header-1.html'"></ng-include>
        <div class="report-body">
            <div class="row top15">
                <div class="blue-title col-xs-5 left-align">FULL FATTY ACID<br>PROFILE REPORT</div>
                <ng-include src="'views_en/profile-table.html'" class="col-xs-7"></ng-include>
            </div>
            <div class="top15">
                <p class="bolder-text">Saturated Fatty Acids</p>
                <p>
                    There are six saturated fatty acids in the OmegaQuant Complete Report. Foods rich in saturated fatty
                    acids are usually solids at room
                    temperatures, which includes foods like butter, shortening, and lard. (Oils rich in unsaturated
                    fatty acids, like vegetable or fish oils, are
                    liquids). As with the other classes described above, the vast majority of saturated fatty acids are
                    from two fatty acids: palmitic and
                    stearic acid. Together they make up ~98% of the saturated fatty acids in the blood, with palmitic
                    making up 2/3 rds of the total. Stearic
                    acid does not appear to have any important health implications, but higher levels of palmitic may.
                    Lower
                    levels of palmitic acid in the
                    blood seem to be linked with better overall health. So, keeping palmitic acid levels below“average”
                    (i.e., less than about 21%,) would
                    probably be wise although firm evidence for this has yet to be produced. Again, palmitic acid is
                    both
                    consumed and made by the body,
                    especially when carbohydrate intake is high, so it is difficult to make dietary change
                    recommendations
                    based just on blood levels.
                    Lowering both saturated fat and simple carbohydrate intake (which is generally recommended as a part
                    of a healthy diet), should result
                    in lower palmitic acid blood levels.
                </p>
            </div>
        </div>
        <ng-include ng-repeat="page in [{'page': 6, 'sum': 7}]" src="'views_en/footer-1.html'"></ng-include>
    </div>

    <!--PAGE 7-->
    <div class="page-container page-break-after" ng-if="report.is_professional">
        <ng-include src="'views_en/header-1.html'"></ng-include>
        <div class="report-body">
            <div class="row top15">
                <div class="blue-title col-xs-5 left-align">FULL FATTY ACID<br>PROFILE REPORT</div>
                <ng-include src="'views_en/profile-table.html'" class="col-xs-7"></ng-include>
            </div>
            <div class="top15">
                <p class="bolder-text">Trans Fatty Acids</p>
                <p>
                    Refer to your Trans Fat Index report for information relating to these fatty acids.
                </p>
            </div>
            <div class="top15">
                <p class="bolder-text">Ratios</p>
                <p>
                    Refer to your Omega Ratios report for information relating to these ratios.
                </p>
            </div>
        </div>
        <ng-include ng-repeat="page in [{'page': 7, 'sum': 7}]" src="'views_en/footer-1.html'"></ng-include>
    </div>
</div>
</body>

</html>