<div class="index-pointer" ng-style="omega_3_index_position_style">
    <div class="label">Your Index</div>
    <div class="arrow-down"></div>
</div>

<div class="range-desc omega-3-chart">
    <div class="unit">
        Undesirable (< 4%)
    </div>
    <div class="unit">
        Neutral (4% ~ 8%)
    </div>
    <div class="unit">
        Desirable (> 8%)
    </div>
</div>

<div class="index-chart omega-3-chart">
    <div class="unit">
    </div>
    <div class="unit">
    </div>
    <div class="unit">
    </div>
    <div class="unit">
    </div>
    <div class="unit">
    </div>
    <div class="unit">
    </div>
    <div class="unit">
    </div>
</div>